<h1 class="shiny">Recently Played<span></span></h1>
<div style="position:relative">
	<div style="color: #333333; width: 600px; margin-left:10px; margin-right:10px">This page gives you an overview of the Vidmaps which have been played recently.</div>
</div>