<h1 class="shiny">K&uuml;rzlich abgespielt<span></span></h1>
<div style="position:relative">
	<div style="color: #333333; width: 600px; margin-left:10px; margin-right:10px">Diese Seite gibt dir einen &Uuml;berblick &uuml;ber die Vidmaps welche vor Kurzem abgespielt wurden.</div>
</div>