<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html debug="false" xmlns="http://www.w3.org/1999/xhtml" lang="<%= @vm_string_table[:meta_lang] %>" style="overflow: hidden">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="initial-scale=1.0">
<meta charset="utf-8">

<title><%= @page_title %></title>
<link href="/stylesheets/vidmap.css?<%= (rand*10000).floor %>" rel="stylesheet" type="text/css" />

<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=geometry,places,drawing&sensor=false&language=en" type="text/javascript"></script>
<script src="/javascripts/vidmap.js" type="text/javascript"></script>
<script src="/javascripts/mapsApiV2Compatibility.js" type="text/javascript"></script>
<script src="/javascripts/extensions.js" type="text/javascript"></script>

<script>
	google.maps.event.addDomListener(window, 'load', function(){init_vidmap(<%= @video ? @video.id.to_s : "false" %>, <%= @isOwner ? "true" : "false" %>)});	
</script>

<script>
	var editor = <%= @isOwner ? true : false %>
</script>

<script src="/api?vmkey=<%= @api_key %>&amp;vmapp=player_html5&amp;language_id=en&amp;<%= @video.youtube ? 'vmdesign=youtube' : '' %>"></script>

</head>


<body style="background: rgba(0, 0, 0, 0); overflow: hidden">

	<div style="position: relative;">
		
		<input id="location" class="location" placeholder="Zoom to location ..." type="text" style="display: none;"/>
		<input id="save" class="save" value="Save" type="submit" style="display: none;"/>
		<input id="edit" class="save" value="Edit" type="submit" style="display: none;"/>
		<input id="cancel" class="cancel" value="Cancel" type="submit" style="display: none;"/>
		
		<p></p>
		
		<div id="map_canvas" class="<%= @isOwner ? 'map_canvas_editor' : 'map_canvas' %>"></div>
		
		<div id="video_youtube" style="display: none;"></div>	
		<video id="video" webkit-playsinline preload="metadata" controls="play pause" style="display: none;" src="">HTML5 Video is required.</video>
	
		<div id="gm_attr" class="<%= @isOwner ? 'gm_attr_editor' : 'gm_attr' %>">
			
			<div style="width: 62px; height: 26px; cursor: default;"><img src="https://maps.gstatic.com/mapfiles/api-3/images/google_white2.png" draggable="false" style="position: absolute; right: 0px; top: 0px; width: 62px; height: 26px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; z-index: 3;"> 
			</div>
		
		</div>
		
		<div style="clear:both;"></div>
	
	</div>

<script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
	var hndl = window.setTimeout("StartTracking()", 100);
    function StartTracking(){
        if (typeof(_gat) == "object")
        {
            window.clearTimeout(hndl);
            var pageTracker =_gat._getTracker("UA-316445-3");
            pageTracker._initData();
            pageTracker._trackPageview();
        } else {
        	hndl = window.setTimeout("StartTracking()", 2000);
        }
	}
</script>

</body>

</html>
